root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[flake.lock]
end_of_line = unset
indent_size = unset
insert_final_newline = unset
trim_trailing_whitespace = unset

[*.md]
max_line_length = off
indent_size = unset

[*.nix]
indent_size = 2
